@use 'base/mixins' as m;
@use 'base/variables' as v;

h1{
    margin: 1rem !important; 
    padding: 0 !important;
}

.contenedor-95{
  padding-top: 3rem;
}


.contenido-detalle{


    p{
        font-size: 1rem;
    }
    @include m.tablet{

        @include m.grid(4, 1rem)
    }



}


.contenido-detalle-3{
    /* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    /* font-family: Arial, sans-serif; */
}

/* Encabezado de la tabla */
table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    text-align: left;
}

/* Celdas de la tabla */
table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Alternar color de fondo en filas para mejorar legibilidad */
table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover en las filas para interacci칩n */
table tbody tr:hover {
    background-color: #e9e9e9;
}

/* Espaciado entre el contenido de la tabla y el borde */
table td, table th {
    padding: 12px 15px;
}


/* Redondear bordes de la tabla y sombreado general */
.contenido-detalle-3 table {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

}

.fecha-pago{
    font-size: 1rem;
    color: v.$cyan;
}

.comentarioPermanente{
    width: 100%;
    height: 15rem;

    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;

    &:focus {
        border: 1px solid v.$cyan; /* Aplica el color del borde al enfocar */
        outline: none; /* Opcional: elimina el borde azul predeterminado del navegador */
    }

    @include m.tablet{
        width: 30%;
    }
}


.tabs {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap; // Para permitir salto en pantallas peque침as
    border-bottom: 2px solid #e0e0e0;

    @media (max-width: 768px) {
        flex-direction: column;
        border-bottom: none;
    }
}

.tab-button {
    padding: 1rem 1.5rem;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #e0e0e0;
    transition: background-color 0.3s;

    @media (max-width: 768px) {
        border-right: none;
        border-bottom: 1px solid #e0e0e0;
        width: 100%;
    }

    &:last-child {
        border-right: none;

        @media (max-width: 768px) {
            border-bottom: none;
        }
    }

    &.active {
        background-color: v.$blanco;
        border-bottom: 2px solid v.$cyan;
        color: v.$cyan;

        @media (max-width: 768px) {
            border-bottom: 2px solid v.$cyan;
        }
    }
}

.tab-content {
    display: none;

    &.active {
        display: block;
        padding: 1rem;
        border: 1px solid #e0e0e0;
        border-top: none;

        @media (max-width: 768px) {
            border-top: 1px solid #e0e0e0;
        }
    }
}

#gestionar{

    .campo{

        textarea{
            width: 100%;
            height: 8rem;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 8px 12px;
            font-size: 14px;

            
            &:focus {
                border: 1px solid v.$cyan; /* Aplica el color del borde al enfocar */
                outline: none; /* Opcional: elimina el borde azul predeterminado del navegador */
            }
        }

        .comentario-gestion{
            margin-top: 2rem;

        }
    }
}

.tabla-scroll{
     overflow-x: auto;
    .tabla-historial-pagos, .tabla-historial-promesas {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
        -webkit-overflow-scrolling: touch;

        th, td {
            padding: 1rem;
            border: 1px solid #e0e0e0;
            text-align: left;
        }

        th {
            background-color: #f5f5f5;
            font-weight: bold;
            color: #333;
        }

        // Estilos para las filas pares
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        // Cambio de color al pasar el rat칩n
        tr:hover {
            background-color: #f1f1f1;
        }
    }
}


.scrollable-gestiones {
    max-height: 60rem; // Ajusta la altura seg칰n sea necesario
    overflow-y: auto;
    padding-right: 1rem; // Opcional: a침ade padding para separar el scroll del borde
}

.historial-gestion-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;

    .gestion-card {
        position: relative;
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

        .encabezado-gestion {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;
            flex-wrap: wrap;

            .codigo-resultado {
                @include m.boton(darken(v.$cyan, 20%), v.$blanco);
                padding: 0.3rem 0.6rem;
                border-radius: 5px;
                font-size: 0.85rem;
                font-weight: bold;
                margin-bottom: 0.3rem;
            }

            .fecha-hora {
                font-size: 0.85rem;
                color: #555;
                margin-left: auto;
            }
        }

        .comentario {
            font-size: 1.1rem;
            color: #333;
            margin: 0.8rem 0;
            font-weight: normal;
            word-wrap: break-word;
        }

        .numero-contactado {
            font-size: 0.95rem;
            color: #666;
            margin-bottom: 0.8rem;
            font-style: italic;
        }

        .detalles-secundarios {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;

            p {
                font-size: 0.9rem;
                color: #777;
                margin: 0;

                strong {
                    color: #555;
                }
            }

            .nombre-gestor {
                font-size: 0.9rem;
                color: #555;
                font-weight: bold;
                text-align: right;
                margin-left: auto;
                width: 100%; // Para que baje a nueva l칤nea en m칩viles
            }
        }
    }

    // 游님 Mejora espec칤fica para m칩viles
    @media (max-width: 768px) {
        .gestion-card {
            padding: 1rem;

            .encabezado-gestion {
                flex-direction: column;
                align-items: flex-start;

                .fecha-hora {
                    margin-left: 0;
                    margin-top: 0.4rem;
                }
            }

            .detalles-secundarios {
                flex-direction: column;
                align-items: flex-start;

                .nombre-gestor {
                    text-align: left;
                    margin-left: 0;
                }
            }

            .comentario {
                font-size: 1rem;
            }

            .numero-contactado {
                font-size: 0.9rem;
            }
        }
    }
}




/* estilos saldo prestamo */
.saldo-prestamo {
    text-align: center;
    margin: 3rem 0;

    h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: v.$negro;
    }

    .saldo-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1.5rem;
        margin-top: 1rem;
    }

    .saldo-card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 1rem;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        h3 {
            font-size: 1.2rem;
            font-weight: bold;
            color: v.$cyan;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: 1rem;
            font-weight: bold;
            color: #222;
        }

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }
    }
}



.boton-volver{
    background-color: v.$cyan;
    color: v.$blanco;
    padding: 1rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    margin-top: 25rem;
    font-weight: bold;
} 

.boton-volver:hover{
    color: v.$blanco;
    background-color: darken(v.$cyan, 20%);
   
}

